<div id = "clubs-#{club.id}">
<%=image_tag club.club_icon.url(:thumb)%>
<%=club.name%>
 <%= club.creation_date %>
  <%=link_to t(:show_club) , club_path(club) , :title => t(:show_club) %>
  <%=link_to t(:edit_club) , edit_club_path(club.id) , :title => t(:edit_club) %>
  <%=link_to t(:delete_club) , club, :title => t(:delete_club) , :confirm => 'Are you sure?', :method => :delete%>
</div>

