<% form_for [@club, @team] , :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :teamcategory_id %><br />
    <%= f.collection_select :teamcategory_id, @categories, :id, :name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :team_icon %><br />
    <%= f.file_field :team_icon %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

