gg<% title "Team Player" %>

<p>
  <strong>Alias:</strong>
  <%=h @team_player.alias %>
</p>
<p>
  <strong>Number:</strong>
  <%=h @team_player.number %>
</p>
<p>
  <strong>Hiredate:</strong>
  <%=h @team_player.hiredate %>
</p>
<p>
  <%= link_to "Edit", edit_club_team_team_player_path(@club, @team, @team_player) %> |
  <%= link_to "Destroy", club_team_team_player_path(@club, @team, @team_player), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", club_team_team_player_path(@club, @team, @team_player) %>
</p>

