<% title "Player" %>

<p>
  <strong>Firstname:</strong>
  <%=h @player.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%=h @player.lastname %>
</p>
<p>
  <strong>Birthdate:</strong>
  <%=h @player.birthdate %>
</p>

<p>
  <%= link_to "Edit", edit_player_path(@player) %> |
  <%= link_to "Destroy", @player, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", players_path %>
</p>
